<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2Z5T3TJT3P"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', 'G-2Z5T3TJT3P');
    </script>
      
</head>
<body>
    <!-- Author Links -->
    <a href="https://github.com/Dandata0101" target="_blank">
        <img src="https://img.shields.io/badge/Author-DanRamirez-2ea44f?style=for-the-badge" alt="Author - DanRamirez">
    </a>
    <a>    
        <img src="https://img.shields.io/badge/PYTHON-3.11-red?style=for-the-badge&logo=python&logoColor=white" alt="Python - Version">
    </a>
    <br>
    <a href="https://github.com/Dandata0101/mbs-Stock-signal-project" target="_blank">
        <img src="https://img.shields.io/badge/Our_Project_Repo-Visit-blue?style=for-the-badge&logo=github&logoColor=white" alt="Our Project Repo">
    </a>
    <a href="index.html">Go to Main Content</a>
</body>
</html>
