<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Welcome to MBS Stock Analysis</h1>
    <a href="https://github.com/Dandata0101" target="_blank">
        <img src="https://img.shields.io/badge/Author-DanRamirez-2ea44f?style=for-the-badge" alt="Author - DanRamirez">
    </a>
    <a href="https://github.com/VineethReeddyBAAIML" target="_blank">
        <img src="https://img.shields.io/badge/Author-VineethReddy-2ea44f?style=for-the-badge" alt="Author - VineethReddy">
    </a>
    <a href="https://github.com/bahijh" target="_blank">
        <img src="https://img.shields.io/badge/Author-BahijHaidar-2ea44f?style=for-the-badge" alt="Author - BahijHaidar">
    </a>
    <a href="https://github.com/" target="_blank">
        <img src="https://img.shields.io/badge/Author-LisaFanzy-2ea44f?style=for-the-badge" alt="Author - LisaFanzy">
    </a>
    <img src="https://img.shields.io/badge/PYTHON-3.11-red?style=for-the-badge&logo=python&logoColor=white" alt="Python - Version"><br>


    <p>Enter a stock symbol below to analyze its current trading signals and send out an email report.</p>
    
    <form action="/stock" method="get">
        <label for="stock">Stock Symbol:</label>
        <input type="text" id="stock" name="stock" required>

        <!-- Email input field added here -->
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <button type="submit">Analyze Stock</button>
    </form>
</body>
</html>
