<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Moving the style inside the head -->
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2Z5T3TJT3P"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2Z5T3TJT3P');
    </script>

    <style>
        .home-link {
            display: inline-block;
            margin: 20px;
            padding: 8px;
            background-color: #f0f0f0;
            text-decoration: none;
            color: black;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <h1>Email Sent!!!!!</h1>
    <!-- Home Link -->
    <a href="/" class="home-link">Home</a>
</body>
</html>
