* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    background-color: #333;
    color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 1.25rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: whitesmoke;
    cursor: pointer;
}

input, button {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

input[type="text"] {
    width: calc(100% - 1rem);
}

input:focus, button:focus {
    outline: 2px solid #3498db;
    outline-offset: 2px;
}

button:hover {
    background-color: #297cb7;
    color: #f3f3f3;
    cursor: pointer;
}

.spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1000;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.table-container {
    width: 100%;
    overflow-x: auto;
    display: inline-block;
}

.stock-data-table, .accuracy-table {
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid black;
    table-layout: auto;
    width: max-content;
    margin: 0 auto;
}

.accuracy-table {
    max-width: 600px; /* Adjust this value to match the width of your feature importance table */
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
}

.feature-importance-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.feature-importance-table {
    flex: 1; /* Occupy remaining space */
    max-width: 600px; /* Adjust as needed */
}

/* Updated styles for performance matrix */
.performance-matrix-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    gap: 20px; /* Creates space between the table and image */
    width: 100%; /* Container takes full width */
}
.accuracy-table {
    /* Ensure the table does not exceed the width of its content */
    width: auto;
}

.image-container {
    /* Container for the confusion matrix image */
    display: flex;
    justify-content: center; /* Center the image within its container */
}

.image-container img {
    max-width: 100%; /* Ensures the image is responsive */
    height: auto; /* Maintain the aspect ratio of the image */
}

@media (min-width: 768px) {
    body {
        font-size: 1.5rem;
    }

    input, button {
        font-size: 1.25rem;
        padding: 0.75rem;
    }

    label {
        margin-bottom: 0.25rem;
    }
}

.spacer {
    height: 20px; /* Adjust the height to control the space */
  }